/* Colors */
$color-white:     #ffffff;
$color-lightgrey: #E0E0E0;
$color-black:     #230707;
$color-brown:     #493C22;
$color-yellow:    #E5A024;
$color-red:       #CF4327;
$background-grad: linear-gradient(#FFDEBA, #F6DAD1);


/* Shadows */
/*@mixin big-shadow { box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1); }*/


/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
@import url('https://fonts.googleapis.com/css?family=Bungee');


/* Animation */
/*
@mixin transition ($property) {
  transition: $property .15s ease;
}

@keyframes fadeIn {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
}
*/


/* Base Layout & Style */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  color: inherit;
}

html, body {
  background: $color-white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-black;
}

#root {
  text-align: left;
  overflow: hidden;
}


/* Section Structure */

header  { width: 100%; padding: 0; margin: 0; }
section { width: 100%; padding: 64px 0; margin: 0; }
footer  { width: 100%; padding: 40px 0; margin: 0; }

.margins {
  margin: 0 auto;
  padding: 0 16px;
}

.push-left {
  margin: 0 auto;
  padding: 0 16px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .column {
    img { width: 100%; }
  }

  &.one   { .column { width: 100% } }
  &.two   { .column { width: 100% } }
  &.three { .column { width: 100% } }
  &.four  { .column { width: 100% } }

  .column-left { width: 100%  }
  .column-right { width: 100%  }
}

/* Basic Type & Elements */

h1, h2, h3, h4, h5, h6, a, p, span, button, ul, li { color: inherit; }
h1, h2, h3, h4, h5, h6 { font-family: 'Roboto', helvetica, arial, sans-serif; font-weight: 700; line-height: 1.3; }
h1, h2 { font-family: 'Bungee', helvetica, arial, sans-serif; }
h1 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 24px;
  span { font-weight: 700; display: block; }
}
h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  margin: 40px 0 10px;
  text-align: center;
  span { display: block; }
}
h3 { font-size: 16px; color: $color-black; text-align: center; margin: 0 0 20px;}
p  { font-size: 16px; line-height: 1.6; margin: 0 0 24px; }
img {
  display: block;
  max-width: 100%;
  margin: 0;
  text-align: center;
  width: auto;
  height: auto;
  object-fit: contain;
  &.hero-image {
      max-width: 86%;
      margin: -20px 7% 50px;
  }
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

/* Special Patterns */

.button { display: block; }

button, .button {
  border: none;
  outline: none;
  background-color: $color-red;
  color: $color-white;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  padding: 16px 24px;
  width: 100%;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  transition: .1s all ease-in-out;
  &:hover { background-color: $color-red; }
  &:active { background-color: $color-black; }
}

/* Section-specific */


header {
  position: relative;
  z-index: 10;
  background-color: $color-brown;
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
  border-bottom: 1px solid $color-lightgrey;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  .logo {
    width: 100px;
    height: 45px;
    background: url(../../img/logo.svg) left center no-repeat;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    .link-button {
      display: none;
      font-size:14px;
      line-height: 30px;
      padding: 8px 32px 8px 0;
      text-decoration: none;
      color: $color-white;
      transition: .1s color ease-in-out;
      &:hover { color: $color-black; }
    }
    .button { display: inline-block; background-color: $color-yellow; color: $color-black; font-size:14px; line-height: 30px; padding: 8px 32px; }
  }


}

.color-band {
    position: relative;
    background-image: $background-grad;
    padding: 50px 0;
    overflow: visible;
}

.theme1 { /* White */
  background-color: $color-white;
  color: $color-black;
  h1, h2 { color: $color-black; }
}

.hero {
  position: relative;
  height: auto;
  padding: 40px 0 40px;

  .button { margin: 20px 0 0; display: block;}

  .hero-illo {
      position: relative;
      top: auto;
      left: auto;
      width: 100%;
      margin-top: -30px;
  }
  .papers-illo {
      position: absolute;
      top:-350px;
      left: 80%;
      width: 200px;
  }

  .three-features {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      div {
          width: 33.333%;
          text-align: center;
          padding: 0 5px;
          img {
              width: 100%;
              margin: 20px 0;
          }
      }
  }
}

footer {
  background-color: $color-black;
  a {
    img {
      margin: 0 auto;
    }
  }
}


@media screen and (min-width: 700px) {

  h1 {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 24px;
  }
  h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 60px 0 10px;
  }

  p { font-size: 20px; padding-right: 48%; }
  img {
      &.hero-image {
          max-width: 100%;
          margin: 0;
      }
  }

  header {
      position: relative;
      .logo {
        width: 250px;
      }
      nav {
          .link-button { display: block; }
      }
  }
  section { padding: 60px 0 30px; }

  .margins {
    padding: 0;
    width: 90%;

  }

  .color-band {
      padding: 60px 0;
      .push-left {
          width: 90%;
          margin: 0 auto;
          padding: 0;
          padding-right: 35%;
      }
  }

  .hero {
      .hero-illo {
          position: absolute;
          top:-195px;
          left: 55%;
          width: 593px;
      }
      .papers-illo {
          position: absolute;
          top:-450px;
          left: 55%;
          width: 298px;
      }
      .how-it-works {
          .three-features {
              div {
                  padding: 0 30px;
                  img {
                      width: 100%;
                      margin: 10px 0;
                  }
              }
          }
      }
  }

  .columns {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-flow: row-reverse;
    &.centered {
      text-align: center;
      margin-bottom: 24px;
      .column { margin: 0 auto; width: 50%; }
    }
    &.two   {
      .column { width: 50%; }
      .column-left { width: 46%; padding-right: 0px; }
      .column-right { width: 54%; padding-left: 0px; }
    }
    &.three {
      .column { width: 33.33%; }
    }

  }



  button, .button { width: auto; display: inline-block; }

  .hero {
    padding-top: 50px;
    .body-copy { padding-right: 10%; }
  }

}

@media screen and (min-width: 1025px) {

    h1 {
      font-size: 46px;
      line-height: 1.2;
      margin: 0 0 24px;
    }

  section { padding: 160px 0 60px; }

  .margins {
    padding: 0 0 30px;
    width: 960px;
  }

  .color-band {
      .push-left {
          width: 960px;
          padding-right: 32%;
      }
  }

  .hero {
      padding-top: 50px;
      .hero-illo {
          top: -170px;
      }
  }

  footer {
      .margins { padding: 16px 0; }
  }



}

@media screen and (min-width: 1440px) {

    h1 {
        font-size: 60px;
        line-height: 1.2;
    }

  .margins {
    padding: 0 0 30px;
    width: 1200px;
  }

  .color-band {
      .push-left {
          width: 1200px;
          padding-right: 25%;
      }
  }

  footer {
      .margins { padding: 16px 0; }
  }

}
